@model IEnumerable<WebDoctors.Models.DoctorVM>

@{
    Layout = "_AdminLTELanding";
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7 mb-4 mt-4">
            <form action="About">
                <div class="input-group">
                    <input name="SearchString" type="search" class="form-control form-control-lg" placeholder="Seach by name, specialization">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-lg btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-md-7 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                        @item.Specialization.Name
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="lead"><b>@item.Person.FirstName @item.Person.LastName</b></h2>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-mail-bulk"></i></span> Email: @item.Person.Email</li>
                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: @item.Person.PhoneNumber</li>
                                </ul>
                            </div>
                            <div class="col-4 text-center">
                                <img src="@item.ImagePath" alt="user-avatar" class="img-circle img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <a asp-action="AboutDoctor" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                                <i class="fas fa-user"></i> View Profile
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
