@model IEnumerable<WebDoctors.Data.Specialization>

@{
    ViewData["Title"] = "Specializations";
}

<h1>Specializations</h1>
<hr/>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Show on Front Page?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (item.Featured)
            {
                <td>
                    Yes
                </td>
            }
            else
            {
                <td>
                    No
                </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary" title="Edit">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" title="Details">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
