@model IEnumerable<WebDoctors.Models.DoctorVM>

@{
    ViewData["Title"] = "Doctors";
}

<h1>Doctors</h1>
<hr/>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecializationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecializationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary" title="Edit Profile">
                    <i class="fa fa-user-edit" aria-hidden="true"></i>
                </a>
                <a asp-controller="Schedules" asp-action="Edit" asp-route-id="@item.ScheduleId" class="btn btn-outline-primary" title="Edit Schedule">
                    <i class="fa fa-calendar-check" aria-hidden="true"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" title="Details">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
